/*estilo registro de usuarios*/

.titulo{
  text-transform: uppercase;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}
.form_carga{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: bold;
    height: 100vh;
  }
  .form {
    background-color: #F2F3F4;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  .inputContainer{
    flex-direction: column;
    margin-bottom: 10px;
  }
  .boton{
    justify-content: center;
    align-items: center;
  }
  .boton-subir{
    display: block;
    margin: 10px auto;
    border: 0.5px solid #5D6D7E; /*anchura, estilo y color borde*/
    padding: 8px; /*espacio alrededor texto*/
    background-color: #5D6D7E; /*color botón*/
    border-radius: 3px; /*bordes redondos*/
    justify-content: center;
    color: white; /*color texto*/
    text-transform: uppercase; /*capitalización texto*/
    text-decoration:none;
    cursor: pointer;

  }
  .boton-subir:hover {
    background-color: #3498DB;
    border: 0.5px solid #3498DB;
    color: white;
   }