    /*Barra Buscador*/
    .buscador input[type=search]{
        width:300px;
        height:25px;
        border-radius:5px;
        border-color: #5D6D7E;
    }
      
    .buscador{
        /*float:right;*/
        margin-top:35px;
        margin-bottom: 15px;
    }
      
    .boton{
        background-color: #5D6D7E;
        color: white;
        /*float: right;*/
        padding: 5px 10px;
        margin-right: 16px;
        font-size: 30px;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }