.form_carga {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imagen {
    width: 350px;
    height: 350px;
    margin: auto;
    object-fit: contain;
   
  }

  .imagen-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .form {
    margin: 70px;
    background-color: #F2F3F4;
    width: 500px;
    border-radius: 8px;
    padding: 50px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  
  .inputContainer {
    margin-bottom: 10px;
    display: block;
  }
  .habilitaciones-container {
    max-height: 200px; /* Altura máxima que se mostrará */
    overflow-y: auto; /* Scroll vertical cuando se sobrepase la altura máxima */
    flex-direction: column;
  }
  
  .label {
    font-weight: bold;
    text-transform: uppercase;
  }
  