* {
    font-family: Arial;
  }
  
  header {
    margin: auto;
    width: 100%;
    display: table;
  }
  
  .navMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5D6D7E;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  .legajo {
    float: right;

  }
  
  li a {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  a:hover {
    background-color: #3498DB;
    border: 0.5px solid #3498DB;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  .navMenu:after {
    content: "";
    display: table;
    clear: both;
  }
 